.header.clearfix
  %h3#date_header
  %p.info Commits to master, excluding merge commits

.graphs
  #contributors-master
  #contributors.clearfix
    %ol.contributors-list.clearfix

:javascript
  Graphs.draw_total_commits(#{@display});
  var authors = _.sortBy(#{@by_author}, function(d) { return d.total }).reverse();
  $.each(authors, function (key, value) {
      $(".contributors-list").append("<li class='person' style='display: block;'><h4>" + this.author + "</h4></li>");
    Graphs.draw_contributors_commits(_.omit(value,['author', 'total']));
  });