.header.clearfix
  .right
    %select
      %option{:value=> "total"} Commits
      %option{:value=> "additions"} Additions
      %option{:value=> "deletions"} Deletions
  %h3#date_header

.graphs
  #contributors-master
  #contributors.clearfix
    %ol.contributors-list.clearfix

:javascript
  var parsed_log = ContributorsStatGraphUtil.parse_log(#{@log});
  var total_commits = ContributorsStatGraphUtil.get_total_data(parsed_log, 'total');  
  var master_graph = new ContributorsMasterGraph(total_commits);
  master_graph.draw();

  var author_commits = ContributorsStatGraphUtil.get_author_data(parsed_log, 'total');
  var authors = [];
  _.each(author_commits, function (d){
    $(".contributors-list").append("<li class='person' style='display: block;'><h4>" + d.author + "</h4><span class='commits'>" +
    d.total + " commits</li>");
    var author_graph = new ContributorsAuthorGraph(d.dates);
    authors[d.author] = author_graph;
    author_graph.draw();
  });

  $("select").change( function () {
    var field = $(this).val();
    var data = ContributorsStatGraphUtil.get_total_data(parsed_log, field);
    var author_commits = ContributorsStatGraphUtil.get_author_data(parsed_log, field);
    master_graph.redraw(data);
    _.each(author_commits, function (d){
      authors[d.author].redraw(d.dates);
    })
  })
