.header.clearfix
  .right
    %select
      %option{:value=> "total"} Commits
      %option{:value=> "additions"} Additions
      %option{:value=> "deletions"} Deletions
  %h3#date_header

.graphs
  #contributors-master
  #contributors.clearfix
    %ol.contributors-list.clearfix

:javascript
  var parsed_log = ContributorsStatGraphUtil.parse_log(#{@log});
  var master_graph = new ContributorsMasterGraph;
  var total_commits = ContributorsStatGraphUtil.get_data(parsed_log, 'total');
  master_graph.draw(total_commits);

  $("select").change( function () {
    var field = $(this).val();
    var data = ContributorsStatGraphUtil.get_data(parsed_log, field);
    master_graph.redraw(data);
  })
