.header.clearfix
  %h3#date_header

.graphs
  #contributors-master
  #contributors.clearfix
    %ol.contributors-list.clearfix

:javascript
  Graphs.set_log(#{@log});
  Graphs.parse_log();
  Graphs.draw_total_commits();
  Graphs.create_contributors_list();

